// ノーマライズCSSを読み込みブラウザ間の差異をなくす
@import './normalize.css';

//色の変数
$base_color: #F8F5F3; //ベースカラー（薄いグレー）
$base_color2: #E6FFEF; //ベースカラー（薄い緑）
$accent_color: #07B53B; //アクセントカラー（緑）
$black_color: #333333; //アクセントカラー（黒）


* {
  box-sizing: border-box; //要素の幅と高さはパディング、ボーダーを含む
  position: relative; //親要素の位置設定に対して相対的に配置する
  margin: 0; //要素の外側の余白をなくす
  padding: 0; //要素の内側の余白をなくす
}

//bodyのスタイル
body {
  background-color: $base_color;
  color: $black_color;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

//リンク時の下線なし・色は親要素の色を継承
a {
  text-decoration: none;
  color: inherit;
}


//画像,svgのスタイル
img,
svg {
  max-width: 100%; //画像の幅を親要素の100%にする
  height: auto; //画像の高さを自動調整しアスペクト比を維持する
  vertical-align: bottom; //画像とテキストのベースラインを揃える
}

//リストのスタイル
li {
  list-style-position: inside;
  list-style: none;
}

//ラッパーのスタイル
#wrapper {
  width: 100%;
  margin: 0 auto;
}
