//ベース設定のファイルを読み込む
@import "common";
.task {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 1rem;
    overflow: auto;

    &-add {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 6fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
        overflow: auto;

        &-edit {
            background-color: #fff;
            padding: .5rem 2rem;
            border: none;
            border-radius: 10px;
        }

        &-submit {
            color: #fff;
            border: none;
            border-radius: 10px;
            background-color: $accent_color;
        }
    }

    & .tasks {
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        background-color: #fff;
        overflow: auto;


        &-ul {
            width: 100%;
            overflow: auto;

        }

        &-li {
            width: 100%;
            height: 50px;
            display: grid;
            grid-template-columns: 6fr 1fr;
            gap: 2rem;
            overflow: auto;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $black_color;
                opacity: .1;
                position: absolute;
                bottom: 0;
            }

        }

        &-item {
            width: 100%;
            display: grid;
            grid-template-columns: 3rem 6fr 1rem 3fr;
            align-items: center;
            gap: 1rem;

            &-input {
                width: 100%;
                height: 30px;
                font-size: 16px;
                border: none;
            }

            &-cancel {
                width: 1rem;
                aspect-ratio: 1/1;
                border: none;
                background-color: #fff;
                opacity: 1;
            }

            &-time {
                text-align: end;
            }
        }

        &-edit {
            display: flex;
            justify-content: space-around;
            align-items: center;

            &-rename {
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 10px;

                & img {}
            }

            &-trush {
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 10px;

                & img {}
            }
        }


    }


}